/* colors */
$off-black: #222;
$off-white: #eee;
$light-med-grey: #eee;
$med-grey: #aaa;
$dark-med-grey: #555;
$links: #0066ff;
$highlight: #ffff66;

/* solarize (for themes) */
$solar-dark-blue: #002b36;
$solar-med-blue: #073642;
//$base01: #586e75;
$solar-pale-blue: #657b83;
//$base0: #839496;
//$base1: #93a1a1;
//$base2: #eee8d5;//same as off-white
//$base3: #fdf6e3;//same as white, visually

//$yellow: #b58900;//yuck
$solar-orange: #cb4b16;
$solar-red: #dc322f;
$solar-magenta: #d33682;
$solar-violet: #6c71c4;
$solar-blue: #268bd2;
$solar-cyan: #2aa198;
$solar-green: #859900;

div[class^='box-'] {
    width: 50px;
    height: 50px;
    display: none;
}

.box-1 {
    background-color: $solar-dark-blue
}

.box-2 {
    background-color: $solar-med-blue
}

.box-4 {
    background-color: $solar-pale-blue
}

.box-7 {
    background-color: $off-white
}

.box-10 {
    background-color: $solar-orange
}

.box-11 {
    background-color: $solar-red
}

.box-12 {
    background-color: $solar-magenta
}

.box-13 {
    background-color: $solar-violet
}

.box-14 {
    background-color: $solar-blue
}

.box-15 {
    background-color: $solar-cyan
}

.box-16 {
    background-color: $solar-green
}

.solar-bg-orange {
    background-color: $solar-orange
}

.solar-bg-red {
    background-color: $solar-red
}

.solar-bg-magenta {
    background-color: $solar-magenta
}

.solar-bg-violet {
    background-color: $solar-violet
}

.solar-bg-blue {
    background-color: $solar-blue
}

.solar-bg-cyan {
    background-color: $solar-cyan
}

.solar-bg-green {
    background-color: $solar-green
}

.solar-orange {
    color: $solar-orange
}

.solar-red {
    color: $solar-red
}

.solar-magenta {
    color: $solar-magenta
}

.solar-violet {
    color: $solar-violet
}

.solar-blue {
    color: $solar-blue
}

.solar-cyan {
    color: $solar-cyan
}

.solar-green {
    color: $solar-green
}

$mac-button-light: #66ccff;
$mac-button-dark: #0066ff;
$mac-button-border-light: #4fa2f6;
$mac-button-border-dark: #0033cc;

/* typography */
$body-font-size: 1rem;

/* animation */
$duration: 0.2s;

/* breakpoints */
@mixin breakpoint($point) {
    @if $point == largest {
        @media (min-width : 1200px) {
            @content;
        }
    }

    @if $point == large {
        @media (max-width : 999px) {
            @content;
        }
    }

    @else if $point == medium {
        @media (max-width : 767px) {
            @content;
        }
    }

    @else if $point == small {
        @media (max-width : 599px) {
            @content;
        }
    }

    @else if $point == smallest {
        @media (max-width : 399px) {
            @content;
        }
    }
}

/* zero it out */
//@import url('normalize.css');

html {
    font-size: $body-font-size;
    box-sizing: border-box;
    /* it seems this is not a great idea anymore? http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/ */
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
}

body {
    font-family: monospace, monospace;
    font-variant-ligatures: none;
    line-height: $body-font-size * 1.15;
    box-sizing: border-box;
    color: $off-white;
    background-color: $solar-magenta;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:focus {
    outline: 1px dotted rgba(38, 139, 210, 0.75);
}

a {
    color: $solar-blue;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted $off-black;
}

/* button elements are left unstyled so you can see their default state, add the class .button to restyle */
.button {
    -webkit-appearance: none;
    background-color: $light-med-grey;
    border: 0;
    padding: 0.25rem 1rem;
    border: 1px solid $med-grey;
    cursor: pointer;
    font-weight: 700;
    border-radius: 3px;
    margin-bottom: 1rem;

    &[disabled] {
        cursor: default;
    }

    &.error {
        background-color: #f04f50;
        border-color: #993333;
        color: $off-white;
    }

    &.macstyle {
        position: relative;
        border: 1px solid transparent;
        border-radius: 3px;
        background: -moz-linear-gradient(top, $mac-button-light 0%, $mac-button-dark 100%);
        background: -webkit-linear-gradient(top, $mac-button-light 0%, $mac-button-dark 100%);
        background: linear-gradient(to bottom, $mac-button-light 0%, $mac-button-dark 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mac-button-light', endColorstr='$mac-button-dark',GradientType=0 );
        color: $off-white;
        background-clip: padding-box;
        font-weight: 400;

        &:after {
            position: absolute;
            /* border width of parent * -1 */
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            background: linear-gradient(to bottom, $mac-button-border-light 0%, $mac-button-border-dark 100%);
            content: '';
            z-index: -1;
            /* same as border-radius of parent */
            border-radius: 3px;
        }

        &:focus,
        &:active {
            //background: ($mac-button-light + $mac-button-dark) / 2; //todo: sass throws an error here because of hex arithmetic
        }
    }
}

code {
    //background-color: $light-med-grey;
    padding: 0;
}

[disabled] {
    background-color: inherit;
    opacity: 0.5;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0.5rem;
    background-color: $light-med-grey;
    position: relative;
    z-index: 0;

    legend {
        display: table;
        margin: 0 0 1rem;
        padding: 0;
        float: left;
        font-size: 0.875rem;

        & + * {
            clear: both;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

@function constrain($val, $limit) {
    @return if($val < $limit, $limit, $val);
}

/*
3rem, 1.5rem        3 / (6/6) 1 size / 2
2.5rem, 1.25rem     3 / (6/5) 2 size / 2
2rem, 1rem          3 / (6/4) 3 size / 2
1.6667rem, 1rem     3 / (9/5) 4 cap
1.3333rem, 1rem     3 / (9/4) 5 cap
1rem, 1rem          3 / (9/3) 6 cap

6rem, 3rem              6 / (6/6)
5rem, 2.5rem            6 / (6/5)
4rem, 2rem              6 / (6/4)
3.3333rem, 1.6667rem    
2.6667rem, 1.3333rem    
2rem, 1rem              
*/

@mixin write-header-tags($max-h1-size: 3rem) {
    //get unitless largest value
    $coeffecient: $max-h1-size / ($max-h1-size * 0 + 1);

    @for $i from 0 through 5 {
        $steps: if(($i > 2), 3, 2);

        //this is needed for now to correctly calcualte the lower 3 headers
        $k: if($i > 2, 1, 0);

        // c=(m/u)/n
        // where m = max h1 size in any units
        // u = body-font-size in the same units
        // n = number of steps to divide by
        // $c: ($max-h1-size / $body-font-size) * $steps;
        // $font-size: $max-h1-size * (1 - (($i + $k) / $c));

        $font-size: $max-h1-size - (($body-font-size * ($i + $k)) / $steps);

        // margin is half the font-size, constrained to 1rem
        $m: if(($font-size / 2) < $body-font-size, $body-font-size, $font-size / 2);

        //floor condition, should probably handle this earlier
        //figure out better way to floor margin as well
        //min values should be 1rem for both
        //$font-size: if($font-size / 2 < $body-font-size, $body-font-size, $font-size);
        h#{$i + 1} {
            font-size: $font-size;
            margin: $m 0;
            // 3 * (1 - (12 / 12)   1
            // 3 * (1 - (10 / 12)   2
            // 3 * (1 - (8 / 12)    3
            // 3 / (9 / (9 - i))
            // 3 * ((9 - i) / 9)
        }
    }
}

@include write-header-tags();

hr {
    display: block;
    height: 0;
    border: 0;
    border-bottom: 2px solid $off-black;
}

iframe {
    border: 0;
}

input:not([type='radio']):not([type='checkbox']):not([type='file']),
select {
    //height: 2rem;
    line-height: normal;
    padding: 0 0.25rem;
    color: $off-black;
    border: 1px solid $med-grey;
    //vertical-align: middle;
}

input[type='checkbox'],
input[type='radio'] {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 4px;
    margin-right: 0.25rem;
    cursor: pointer;
}

input[type='checkbox'] {
    background-color: $light-med-grey;
    border: 1px solid $med-grey;
    border-radius: 2px;

    &:before {
        /*content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background-color: #ffffff;
        border-radius: 1px;*/
    }

    &:checked {
        //background: url("data:image/svg+xml,%3Csvg width='50' height='50' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m2.70044,31.61312l4.37911,-6.22002l14.166,9.63133l20.45787,-28.38836l6.21971,4.4774l-24.93843,34.61247l-20.28426,-14.11283z' fill='%23222222' stroke='%23222222' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
        &:after {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white url("data:image/svg+xml,%3Csvg width='50' height='50' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m2.70044,31.61312l4.37911,-6.22002l14.166,9.63133l20.45787,-28.38836l6.21971,4.4774l-24.93843,34.61247l-20.28426,-14.11283z' fill='%23222222' stroke='%23222222' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 0.75rem;
            position: absolute;
        }
    }
}

input[type='radio'] {
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid $med-grey;

    &:checked {
        background: #ffffff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px' fill='%23222222'%3E%3Ccircle cx='8' cy='8' r='8'%3E%3C/circle%3E%3C/svg%3E");
        background-position: center;
        background-size: 0.5rem;
        background-repeat: no-repeat;
    }
}

input[type='file'] {
    -webkit-appearance: none;
    //width: 1px;
    //height: 1px;
    //overflow: hidden;
    //position: absolute;
    & + label {
        //display: inline-block;
        cursor: pointer;
    }
}

input[type='submit'] {
    cursor: pointer;
}

kbd {
    background-color: $light-med-grey;
    border: 1px solid $med-grey;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    color: $off-black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: normal;
    padding: 0.2rem 0.6rem;
    text-shadow: 0 1px 0 #ffffff;
}

label {
    display: inherit;
}

mark {
    background-color: $highlight;
    padding: 4px 0;
}

option[disabled] {
    background-color: rgba(0, 0, 0, 0.25);
}

p {
    margin: 0 0 1rem;
}

pre {
    //background-color: $light-med-grey;
    padding: 0.5rem;
}

q {
    quotes: '"' '"';
}

select {
    -webkit-appearance: none;
    background: #ffffff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='7px'%3E%3Cpath fill='%23222222' d='M-0,0 L10,0 L5,7 L-0,0 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 0.25rem) center;
    /* firefox needs these next three lines */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

    &::-ms-expand {
        display: none;
    }
}

tr:nth-child(2n),
thead {
    background-color: $light-med-grey;
}

svg {
    /* needed for ie */
    overflow: hidden;
}

ul {
    line-height: normal;
}

.serif {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page {
    //padding: 0 1rem;
}

.var,
code .var,
pre code .var {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/* NON GLOBAL STYLES FOR ES6 VELA
    these should not be copied as part of any project
    they are to position and style ui elements
======================================================== */

#vela {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: monospace, monospace;
    height: 100vh;
    //background: $light-med-grey url('../images/alpha-checkerboard-mirror.png');
    overflow: hidden;

    &.blur {
        -webkit-filter: url('#blur');
        filter: url('#blur');
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    .nosuchaction {
        background-color: $solar-red !important;

        & * {
            //if the controller is hidden behind something, the red background should bubble up
            background-color: inherit !important;
        }
    }

    #status {
        height: 2rem;
        //background-color: $light-med-grey;
        border-bottom: 1px solid $solar-pale-blue;
        text-align: center;
        font-size: 0.75rem;
        line-height: 2rem;
        //color: $off-black;
        z-index: 1000; //one more than form so that the info flyout is on top of it
        position: relative;

        #themes {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 1rem;

            #light,
            #dark {
                transition: all $duration;
                border-width: 3px;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.35);
                opacity: 0.5;

                &:checked {
                    border-color: #fff;
                    border-width: 1px;
                    opacity: 1.0;
                }
            }

            #light {
                background: $light-med-grey;
            }

            #dark {
                background: $solar-dark-blue;
            }
        }

        #name {
            padding: 1px 4px;
            font-style: italic;
            color: inherit;

            &:after {
                content: '*';
            }

            &.saved {
                font-style: normal;

                &:after {
                    content: '';
                }
            }
        }

        #magnification {
            font-size: 0.75rem;
            opacity: 0.5;
            cursor: default;

            &:before {
                //content: '\2013';
            }
        }

        #info {
            margin: 0.5rem 0;
            height: 1rem;
            width: 1rem;
            position: absolute;
            top: 0;
            right: 1rem;
            color: $solar-pale-blue;
            border-radius: 50%;
            border: 1px solid $solar-pale-blue;
            font-family: monospace, monospace;
            line-height: normal;
            cursor: pointer;

            &:hover #flyout,
            &:focus #flyout {
                width: 300px;
            }

            #flyout {
                position: absolute;
                right: 0;
                top: 0;
                width: 0;
                height: 300px;
                background-color: rgba(0, 0, 0, 0.35);
                overflow: hidden;
                transition: all $duration;
                //z-index: 1000; //one more than form
                //white-space: nowrap;
                p {
                    //margin: 0;
                    //text-align: left;
                }
            }
        }
    }

    form {
        z-index: 999;

        #sub-status,
        #sub-status-advanced {
            min-height: 2rem;
            display: flex;
            align-items: center;
            //background-color: $light-med-grey;
            border-bottom: 1px solid $solar-pale-blue;
            padding: 0 1rem;
            flex-wrap: wrap;

            fieldset {
                padding: 0;
                margin: 0 0.5rem;
                background-color: transparent;

                input {
                    display: inline-block;
                    height: 1rem;
                    font-size: 0.75rem;
                    //max-width: 6rem;
                    border-radius: 2px;
                    color: inherit;
                    background-color: transparent;

                    &[type='text'],
                    &[type='number'] {
                        min-width: 4rem;
                    }

                    &[type='checkbox'] {
                        background-color: inherit;
                    }
                }

                & > label {
                    display: inline-block;
                    color: inherit;
                    font-size: 0.75rem;
                }

                select {
                    display: inline-block;
                    height: 1rem;
                    background-color: transparent;
                    border-radius: 2px;
                    font-size: 0.75rem;
                    min-width: 7rem;
                    background-size: 0.5rem;
                    color: inherit;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='7px'%3E%3Cpath fill='%23eeeeee' d='M-0,0 L10,0 L5,7 L-0,0 Z'/%3E%3C/svg%3E");

                    option {
                        color: $off-black;
                    }
                }

                button {
                    display: inline-block;
                    height: 1rem;
                    font-size: 0.75rem;
                    color: inherit;
                    background-color: transparent;
                    border: 1px solid transparent;
                    text-indent: -99999px;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    -webkit-appearance: none;
                    //padding: 0;
                    cursor: pointer;
                    overflow: hidden;
                    margin: 0 0 2px 0;

                    &#swap {
                        width: 1rem;
                        background-image: url('../images/icons/swap.svg');
                    }
                }

                #run {
                    padding: 0.25rem 0.5rem;
                    height: unset;
                    border: 0;
                    background-color: $solar-blue;
                    display: block;
                    color: $off-white;
                }
            }
        }

        .non-semantic-label {
            font-size: 0.75rem;
            margin: 0 0.25rem;
            opacity: 0.65;
        }
    }

    #guts {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex: 1;

        .rulers {
            background: $light-med-grey url('../images/ruler.gif') 0 0 no-repeat;
            padding: 20px 0 0 20px;
            flex: 1;
        }

        &.inprogress {

            &:before {
                content: '';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background-color: #000;
                opacity: 0.5;
                //-webkit-filter: url('#blur');
                //filter: url('#blur');
                //-webkit-filter: blur(5px);
                //filter: blur(5px);
            }
        }

        #target {
            display: block;
            position: relative;
            cursor: move;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: url(../images/icons/image.svg);
            background-repeat: no-repeat;
            background-size: 3rem auto;
            background-position: center center;
            transition: all $duration;
        }

        #application-bar {
            display: flex;
            width: 12.5rem;
            height: 100%;
            z-index: 999;
            //background-color: $light-med-grey;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            flex-direction: column;
            //color: $med-grey;
            padding: 1rem 0.5rem;
            border-right: 1px solid $solar-pale-blue;
            transition: width $duration;

            &.collapsed {
                width: 3rem;
                margin-bottom: 0.125rem;

                .button-wrapper {
                    .controller#toggleappbar {
                        background-image: url('../images/icons/angle-right.svg');
                    }

                    label {
                        width: 0;
                        opacity: 0;
                        padding: 0;
                    }
                }
            }

            .button-wrapper {
                width: 100%;
                border: 1px solid transparent;
                display: flex;
                align-items: center;
                margin-bottom: 0.25rem;

                &.anchor {
                    margin-top: auto;
                }

                &:active {
                    background-color: $med-grey;
                }

                &:focus {
                    border: 1px solid $dark-med-grey;
                    outline: none;
                }

                &:hover {
                    border: 1px solid $med-grey;
                }

                .controller {
                    -webkit-appearance: none;
                    background-color: transparent;
                    padding: 0;
                    width: 1.75rem;
                    height: 1.75rem;
                    text-indent: -99999px;
                    background-size: 75% 75%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    //background-image: url('');
                    border: 0;
                    overflow: hidden;
                    margin: 0;
                    cursor: pointer;

                    &#save {
                        background-image: url('../images/icons/save.svg');
                    }

                    &#loadmaster {
                        background-image: url('../images/icons/file-image.svg');
                    }

                    &#loadsamples {
                        background-image: url('../images/icons/folder-open.svg');
                    }

                    &#setmode {
                        background-image: url('../images/icons/info.svg');
                    }

                    &#toggleappbar {
                        background-image: url('../images/icons/angle-left.svg');
                    }
                }

                label {
                    //display: inline-block;
                    font-size: 0.75rem;
                    white-space: nowrap;
                    overflow: hidden;
                    opacity: 1;
                    transition: all $duration;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 0.5rem;
                    flex-grow: 1;
                    cursor: pointer;
                }
            }
        }

        #error {
            display: none;
            position: absolute;
            top: 3rem;
            right: 3rem;
            width: 20rem;
            background-color: $solar-red;
            padding: 1rem 0.5rem 1rem 2.5rem;
            font-size: 0.875rem;
            background-image: url(../images/icons/do-not-enter-white.svg);
            background-repeat: no-repeat;
            background-position: left 0.5rem center;
            background-size: 1.5rem 1.5rem;
            -moz-user-select: none; //fixes issue in FF where dragging the canvas would select the text
        }
    }

    .controller {
        //user-select: none;
    }
}

/* loader */
#loader-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    justify-content: center;
    align-items: center;

    &.visible {
        display: flex;
    }

    #loader {
        font-size: 2rem;
    }
}

/* global info modal */
#modal-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    justify-content: center;
    align-items: center;

    &.visible {
        display: flex;
    }

    #modal {
        background-color: $solar-dark-blue;
        width: 100%;
        max-width: 48rem;
        max-height: 48rem;
        padding: 2rem;
        font-family: sans-serif;
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        h1, h2, h3, h4, h5, h6 {
            //text-align: center;
            margin: 0 0 1rem 0;
            letter-spacing: 1px;
            font-weight: 100;
            font-family: "Palatino Linotype", sans-serif;
        }

        header {
            display: flex;
            flex-shrink: 0;
            padding: 0.5rem;
            border: 1px solid #fff;
            align-items: center;
            //justify-content: center;

            .build-details,
            .name {
                width: 49%;
                margin: 0 1%;
            }

            .name {
                h1 {
                    text-align: right;
                    margin: 0;
                    //padding-right: 1rem;

                    span {
                        margin-right: -6px;
                    }
                }
            }

            .build-details {
                p {
                    font-size: 0.75rem;
                    margin: 0;
                    line-height: normal;
                }
            }
        }

        header,
        section {
            margin-bottom: 1.5rem;
        }

        section {

            &:not(:last-child) {
                border-bottom: 1px solid $solar-pale-blue;
                padding-bottom: 0.5rem;
            }

            &.stats {
                #stats-wrapper {
                    display: flex;

                    #log,
                    pre {
                        width: 50%;
                        margin: 0;
                    }

                    #log {
                        //margin: 0;
                    }

                    pre {
                        textarea {
                            width: 100%;
                            display: block;
                            border: 0;
                            background-color: transparent;
                            color: inherit;
                            min-height: 484px;
                        }
                    }
                }
            }
        }
    }
}

/* themes */
.light {
    background: $light-med-grey url('../images/alpha-check-transparent-forLightBg.png');

    #status {
        background-color: $light-med-grey;
        color: $off-black;
        //border-bottom: 1px solid $solar-med-blue;
    }

    form {
        background-color: $light-med-grey;
        color: $off-black;
        //border-bottom: 1px solid $solar-med-blue;
    }

    #guts {
        #application-bar {
            background-color: $light-med-grey;
            //border-bottom: 1px solid $solar-med-blue;
        }
    }
}

.dark {
    background: $solar-dark-blue url('../images/alpha-check-transparent.png');
    //color: $off-white !important;
    #status {
        background-color: $solar-dark-blue;
        color: $off-white;
        //border-bottom: 1px solid $solar-pale-blue;
    }

    form {
        background-color: $solar-dark-blue;
        color: $off-white;
        //border-bottom: 1px solid $solar-pale-blue;
    }

    #guts {
        #application-bar {
            background-color: $solar-dark-blue;
            //border-right: 1px solid $solar-pale-blue;
        }
    }
}
